<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= firstname %>'s Homepage
    </title>
</head>

<body>
    <a href=<%=`./${_id}/helpcall` %>>Get Help</a>
    <a href=<%=`./${_id}/resources` %>>Helpful Resources</a>
    <a href=<%=`./${_id}/meditation` %>>Meditation Page</a>

    <a href=<%=`./${_id}/mood` %>>Mood Log</a>
    <a href=<%=`./${_id}/diary` %>>Diary Log</a>

    <h1>Welcome
        <%= firstname %>
            <%= lastname %>
    </h1>
</body>

</html>