<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- MY STYLESHEET-->
    <link rel="stylesheet" href="../../styles/styles3.css">

    <!-- Display NEED TO CHANGE-->
    <title>REACH - Home Page</title>
    <link rel="icon" href="../../assets/logoPH.png">

    <!-- ANIMATE.STYLE LIB-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- GOOGLE FONTS - HOPEFULLY RIGHT ONE?-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">
    <title>
        <%= firstname %> MoodPage
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
        html {
            overflow-x: hidden;
        }
        
        body {
            color: #64c7cb;
            text-align: center;
            overflow: hidden;
            font-family: 'Lekton', sans-serif;
            align-items: center;
        }
        
        .entry {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .yellow {
            background-color: #f9eec7;
        }
        
        .green {
            background-color: #d1e5e1;
        }
        
        .orange {
            background-color: #fbe2d8;
        }
        
        .pink {
            background-color: #fae9ed;
        }
        
        .pills {
            border-radius: .5rem;
            width: fit-content;
            text-align: center;
            width: 15rem;
            height: 2rem;
            margin: .50rem 0;
            vertical-align: middle;
        }
        
        .pill {
            text-align: center;
            color: grey;
        }
        
        .thoughts {
            color: white;
            background-color: #d1e4e1;
            width: 75vw;
            height: fit-content;
            border-radius: .5rem;
        }
        
        .holder {
            display: flex;
            width: 100vw;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="/" class="navbar-brand">
                <img src="../../assets/logoPH.png" height="30" alt="REACH logo">
            </a>
            REACH
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="justify-content-end collapse navbar-collapse" id="navbarCollapse" style="font-size: min(5vh, 20px);">
                <div class="navbar-nav">
                    <a href=<%=`/user/${userID}/`%> class="nav-item nav-link"> Home</a>
                    <a href=<%=`/user/${userID}/meditation`%> class="nav-item nav-link">
                        Meditation</a>
                    <a href=<%=`/user/${userID}/mood`%> class="nav-item active nav-link">Mood</a>
                    <a href=<%=`/resources`%> class="nav-item nav-link">Resources</a>
                    <a href=<%=`/about`%> class="nav-item nav-link">About Us</a>
                </div>
            </div>
        </nav>
    </div>
    <h1>Mood Page for
        <%= firstname %>
    </h1>
    <a href="./mood/new">New</a>
    <div class="holder">

        <%for(let mood of moods){%>
            <% switch (mood.mood) { case 1 : %>
                <div class="pills pink">
                    <% break; case 2 : %>
                        <div class="pills green">
                            <% break; case 3 : %>
                                <div class="pills orange">
                                    <% break; case 4 : %>
                                        <div class="pills yellow">
                                            <% break; default: %>
                                                <div class="pills">
                                                    <%}%>
                                                        <div onclick=<%=`location.href='./mood/${mood._id}' `%>>
                                                            <%var months=[ 'January' , 'February' , 'March' , 'April'
                                                                , 'May' , 'June' , 'July' , 'August' , 'September'
                                                                , 'October' , 'November' , 'December' ];%>
                                                                <%var days=['Sun', 'Mon' , 'Tue' , 'Wed' , 'Thu' , 'Fri'
                                                                    , 'Sat' ];%>
                                                                    <%= days[mood.date.getDay()]%>
                                                                        <%= mood.date.getDate()%>
                                                                            <%= months[mood.date.getMonth()]%>
                                                                                -
                                                                                <% switch (mood.mood) { case 1 : %>
                                                                                    Happy
                                                                                    <% break; case 2 : %>
                                                                                        Stressed
                                                                                        <% break; case 3 : %>
                                                                                            Excited
                                                                                            <% break; case 4 : %>
                                                                                                Sad
                                                                                                <% break; default:
                                                                                                    break; } %>

                                                        </div>
                                                </div>

                                                <%}%>
                                        </div>

</body>

</html>